blosc
dask
dill
feather_format
fsspec
matplotlib
multiprocess
nbconvert
numba
numpy
nvidia_smi
pandas
psutil
pytest
requests
scikit_image
scipy
seaborn
tensorflow_gpu==1.15.0
toolz
torch
tqdm
IPython
Pillow