blosc
dask
dill
feather-format
fsspec
matplotlib
multiprocess
nbconvert
numba
numpy
nvidia-smi
pandas
psutil
pytest
requests
scikit-image
scikit-learn
scipy
seaborn
tensorflow-gpu==1.15.0
toolz
torch
tqdm
IPython
Pillow