name: docs

on:
  pull_request:
    types: [closed]
    branches:
    - master

jobs:

  doc:

    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3

    steps:
    - uses: actions/checkout@v3
      with:
          fetch-depth: 1

    - name: Build docs
      run: |
        export LC_ALL="C"
        pip3 install sphinx
        pip3 install sphinx-rtd-theme
        git checkout --orphan gh-pages
        shopt -s extglob
        rm -rf !("pyproject.toml") # we need this file for correct version extraction
        git fetch
        git reset
        git clean -fdx -n --exclude="!pyproject.toml"
        ls -a
        git checkout ${{ github.sha }} -- batchflow docs
        cd docs
        make html
        rm ../pyproject.toml

    - name: Push docs
      if: github.event_name == 'pull_request'
      run: |
        mv docs/_build/html/* .
        rm -rf docs batchflow
        touch .nojekyll
        git config user.email rhudor@gmail.com
        git config user.name "Roman Kh"
        git add -A .
        git commit -am "Build docs"
        git remote add gh_pages https://${{ secrets.GITHUB_PUSH}}@github.com/${{ github.repository }}
        git push -f gh_pages gh-pages
