name: PR

on:
  pull_request:
    branches:
    - master

jobs:

  pr-check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check if the branch is behind the master
      run: |
        git fetch origin master
        git rev-list --count HEAD..origin/master | grep -w "0"
        exit_code = $?
        if [ $exit_code -ne 0 ]; then
          echo "Your branch is behind the master. Pull the changes to your branch."
        fi
        exit $exit_code

  code-cov:

    needs: [pr-check]

    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3

    steps:
    - name: Generate coverage report
      run: |
        pip3 install -U pytest-cov
        pytest -m "not slow" --cov=./ --cov-report=xml

    - name: Upload coverage to Codecov
      run: |
        pip3 install -U codecov
        codecov -t ${{ secrets.CODECOV_TOKEN }}
