name: release

on:
  push: # tmp option to make workflow re-run on every update in branch
    branches:
    - release_action
  release:
    types: [published]


jobs:

  codecov:
    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3:cpu

    steps:
    - uses: actions/checkout@v1

    - name: Check if the branch is behind the master
      run: git rev-list --count HEAD..origin/master | grep -w "0"

    - name: Generate coverage report
      run: |
        pip3 install -U pytest-cov
        pytest -m "not slow" --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      run: |
        pip3 install -U codecov
        codecov -t ${{ secrets.CODECOV_TOKEN }}


  pypi:
    needs: codecov

    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3:cpu

    steps:
    - uses: actions/checkout@v1

    - name: Install dependencies
      run: pip3 install --upgrade setuptools wheel twine

    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: |
        python3 setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*
