name: release-check

on:
  release:
    types: [created, edited]


jobs:
  
  pypi:
    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: pip3 install --upgrade setuptools wheel twine

    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: |
        python3 setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*
