name: Test installation

on:
  pull_request:
    branches:
    - master

jobs:

# -----------------------------------------
#    Use a module from local source
# -----------------------------------------
  use_as_local_module:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install batchflow requirements
      run: |
        pip install -U pip
        pip install -r requirements.txt
        pip install pytest
    
    - name: Run 'import batchflow'
      run: python -c 'import batchflow' 

    - name: Run basic tests
      run: |
        cd batchflow/tests
        pytest --disable-pytest-warnings -v dataset_test.py filesindex_test.py datasetindex_test.py


# -----------------------------------------
#    Install with pip
# -----------------------------------------
  install_with_pip:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install batchflow with pip
      run: |
        pip install -U pip wheel pytest
        pip install -e git+https://github.com/analysiscenter/batchflow.git@${GITHUB_BASE_REF}#egg=batchflow
    
    - name: Run 'import batchflow'
      run: python -c 'import batchflow' 

    - uses: actions/checkout@v2
    - name: Run basic tests
      run: |
        cd batchflow/tests
        pytest --disable-pytest-warnings -v dataset_test.py filesindex_test.py datasetindex_test.py


# -----------------------------------------
#    Install with pipenv
# -----------------------------------------
  install_with_pipenv:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install batchflow with pipenv
      run: |
        pip install wheel pipenv
        pipenv --python ${{ matrix.python-version }}
        pipenv install pytest
        pipenv install -e git+https://github.com/analysiscenter/batchflow.git@${GITHUB_BASE_REF}#egg=batchflow
    
    - name: Run 'import batchflow' in installed environment
      run: pipenv run python -c 'import batchflow' 

    - uses: actions/checkout@v2

    - name: Run basic tests
      run: |
        cd batchflow/tests
        pipenv run pytest --disable-pytest-warnings -v dataset_test.py filesindex_test.py datasetindex_test.py
